<div class="max-w-5xl mx-auto relative py-16 lg:pt-12 lg:pb-12">
    <article class="content">
        {{ settings:profile_image }}
            <img  alt="Profile Image" fetchpriority="high" width="512" height="512"
                 decoding="async" data-nimg="1"
                 class="rounded-full bg-zinc-100 object-cover dark:bg-zinc-800 h-16 w-16"
                 style="color: transparent;" sizes="4rem"
                 src="{{ url }}">
        {{ /settings:profile_image }}

        <p class="font-medium text-lg text-teal">{{ subtitle }}</p>
        <h1>{{ content }}</h1>
    </article>
</div>

<div class="max-w-2xl mx-auto mb-32">
    {{ collection:articles limit="5" as="articles" }}
        {{ if no_results }}
            <h2 class="text-3xl italic tracking-tight">Feel the rhythm! Feel the rhyme! Get on up, it's writing time! Cool writings!</h2>
        {{ /if }}

        {{ articles }}
            <div class="mb-16">
                <h2 class="mb-4">
                    <a href="{{ url }}" class="text-2xl hover:text-teal tracking-tight leading-tight font-bold">
                        {{ title | widont }}
                    </a>
                </h2>
                <p class="text-zinc-600 dark:text-zinc-400">
                    <span class="text-zinc-600 dark:text-zinc-400 text-sm uppercase tracking-widest font-medium">{{ date }}</span> &mdash;
                    {{ excerpt | widont ?? content | strip_tags | safe_truncate(150, '...') }}
                </p>
            </div>
        {{ /articles }}
    {{ /collection:articles }}
</div>
